@page "/"
@using BlazorApp.Models;
@inject PizzaSalesState SalesState;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h4>Pizzas sold today: @SalesState.PizzasSoldToday</h4>

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />
