@page "/pizzas"
@using BlazorApp.Models;
@using BlazorApp.Services;
@inject PizzaService PizzaSvc;
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@inject PizzaSalesState SalesState;

<h3>Pizzas</h3>

<h4>Pizzas sold today: @SalesState.PizzasSoldToday</h4>

<button @onclick=IncrementSales>FIRE SALE!</button>

@if (pizzas == null)
{
	<p>Pizzas are loading...</p>
}
else
{
	@foreach (Pizza pizza in pizzas)
	{
		<DisplayPizza PizzaName="@pizza.Name" PizzaDescription="@pizza.Description" />
	}
}

@code {
	private List<Pizza>? pizzas = null;

	private void IncrementSales()
	{
		SalesState.PizzasSoldToday++;
	}

	protected override async Task OnInitializedAsync()
	{
		pizzas = await HttpClient.GetFromJsonAsync<List<Pizza>>(NavigationManager.BaseUri + "pizzas");
	}
}